# Copy this file to .env and replace the placeholders below

# items marked <REDACTED> should be obtained and substituted
# items marked <CONFIGURE> you will need to set up

SESSION_SECRET=arbitrarystring
JWT_SECRET=arbitrarystring

KEYCLOAK_REALM=Asl-dev
KEYCLOAK_URL=https://sso-dev.notprod.homeoffice.gov.uk/auth
KEYCLOAK_CLIENT=asl-dev-connect
KEYCLOAK_SECRET=<REDACTED>
KEYCLOAK_USERNAME=<REDACTED>
KEYCLOAK_PASSWORD=<REDACTED>

DATABASE_PASSWORD=test-password

S3_REGION=<CONFIGURE>
S3_ACCESS_KEY=<CONFIGURE>
S3_SECRET=<CONFIGURE>
S3_BUCKET=<CONFIGURE>
TRANSPORT_KEY=<CONFIGURE 32 CHARS OF HEX>
TRANSPORT_IV=<CONFIGURE 16 CHARS OF HEX>

VERBOSE_ERRORS=TRUE

ENABLE_PPL_CONVERSION=TRUE

BODY_SIZE_LIMIT=10mb
API_URL=http://localhost:8081
PERMISSIONS_SERVICE=http://localhost:8082
