@import "@asl/service";

.data {
  padding: $gutter;
  background: $govuk-blue;
  color: white;
  a {
    color: white;
    text-decoration: none;
  }
}

details {
  margin-top: 2*$gutter;
}

.code {
  background: #eee;
  border: #ccc;
  padding: 1em;
  font-family: monospace;
}